<nav>
  <div class="logo">
    <img src="/assets/logo.png" class="nav-logo">
  </div>
  <div class="links">
    <a routerLink="/login">Login</a> &nbsp;
    <a routerLink="/register">Register</a>
  </div>
</nav>

<div class="center">
  <h1 class="content-title">Forgot password</h1>
</div>
<div class="center">
  <form class="form">
    <div>
      <label> Email </label>
      <input type="text" name="email" [(ngModel)]="email">
    </div>

    <button class="button" (click)="sendMail()">SEND ME NEW TEMPORARY PASSWORD</button>

    <span class="error">
      {{message}}
    </span>

    <span class="success">
      {{successMessage}}
    </span>
  </form>
</div>

<div class="footer footer-fixed">
  <small>
      Copyright &copy; 2023, Slavica Mitrovic, University of Belgrade, School of Electrical Engineering
  </small>
</div>
