<nav>
  <div class="logo">
    <img src="/assets/logo.png" class="nav-logo">
  </div>
  <div class="links">
    <a routerLink="/register">Register</a>
  </div>
</nav>

<div class="center">
  <h1 class="content-title">Login</h1>
</div>
<div class="center">
  <form class="form">
    <div>
      <label> Username </label>
      <input type="text" name="username" [(ngModel)]="username">
    </div>
    <div>
      <label> Password </label>
      <input type="password" name="password" [(ngModel)]="password">
    </div>

    <button (click)="login()" class="button">LOGIN</button>

    <span class="error">
      {{message}}
    </span>
  </form>
</div>

<div class="center">
  <a routerLink="/forgotPassword">Forgot your password?</a>
</div>

<div class="footer footer-fixed">
    <small>
        Copyright &copy; 2023, Slavica Mitrovic, University of Belgrade, School of Electrical Engineering
    </small>
</div>

