<nav>
  <div class="logo">
    <img src="/assets/logo.png" class="nav-logo">
  </div>
  <div class="nav-right">
    <div class="links">
      <a routerLink="" (click)="logout()">Logout</a>
    </div>
    <div *ngIf="pageType != 'organ'">
      <img src="/assets/menu.png" class="nav-profile nav-button">
      <div class="dropdown">
        <a routerLink="/changePassword">Change password</a>
        <a routerLink="/participantProfile">View profile</a>
        <a routerLink="/participant">Studios</a>
        <a routerLink="/becomeOrganizer">Become an organizer</a>
      </div>
    </div>
    <div *ngIf="pageType == 'organ'">
      <img src="/assets/menu.png" class="nav-profile nav-button">
      <div class="dropdown">
        <a routerLink="/changePassword">Change password</a>
        <a routerLink="/organizerProfile">View profile</a>
        <a routerLink="/organizer">Studios</a>
        <a routerLink="/becomeOrganizer">Add studio</a>
      </div>
    </div>
  </div>
</nav>

<div class="center">
  <h1 class="content-title">Change password</h1>
</div>
<div class="center">
  <form class="form">
    <div>
      <label> Old password </label>
      <input type="password" name="username" [(ngModel)]="old">
    </div>
    <div>
      <label> Password </label>
      <input type="password" name="password" [(ngModel)]="password">
    </div>
    <div>
      <label> Confirm password </label>
      <input type="password" name="passwordC" [(ngModel)]="passwordC">
    </div>

    <button (click)="change()" class="button">CHANGE PASSWORD</button>

    <span class="error">
      {{message}}
    </span>
    <span class="success">
      {{successMessage}}
    </span>

  </form>
</div>

<div class="footer footer-fixed">
  <small>
      Copyright &copy; 2023, Slavica Mitrovic, University of Belgrade, School of Electrical Engineering
  </small>
</div>
